<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .container {
            padding-left:25px!important;
            margin-left:0px;
        }
        .wrapper {
            display: flex;
            align-items: stretch;
            
        }

        #sidebar {
            min-width:250px;
            min-height: 700px;
        }


        #sidebar {
            /* don't forget to add all the previously mentioned styles here too */
            background: #3e4b5a;
            color: #fff;
            transition: all 0.3s;
        }

            #sidebar .sidebar-header {
                background: #3e4b5a;
            }

            #sidebar ul.components {
                border-bottom: 1px solid #47748b;
            }

            #sidebar ul p {
                color: #fff;
            }



                #sidebar ul li a {
                    padding: 10px;
                    font-size: 1.1em;
                    display: block;
                    color: #fff;
                    padding-left: 40px !important;
                }

                #sidebar ul li a:hover {
                    color: #fff;
                    background: #323d4b;
                }

            #sidebar ul li.active > a, a[aria-expanded="true"] {
                color: #fff;
                background: #323d4b;
            }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #fff;
        }
    </style>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style="background-color: #313e49!important;">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-page="/Index">DC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Software/SignIn">Gurminder Singh</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div class="wrapper">
        <nav id="sidebar">
            <nav id="sidebar">
               

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#">Dashboard</a>
                        
                    </li>
                    <li>
                        <a href="/Software/Leads">Leads</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>

            </nav>
        </nav>

        <div class="content">

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DC - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
