@model LeadsDetailsViewModel


<div class="container-fluid mt-10" style="background-color: #f8f9fa !important; margin-top:100px;">
    <div class="row">
        <div class="col-md-3" style="background-color: #fff !important;  height:800px; border-right: 2px solid black;">
            <div class="row">
                <div class="col-md-12">
                    <img src="/images/img_avatar.png" />
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7" style="background-color: #fff !important;  height:800px;">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.leads.FullName</h1>
                </div>
            </div>

            <div class="row" style="margin-top:50px;">
                <div class="col-md-8">
                    @*<ul class="nav border-bottom-5" style="cursor:pointer; border-bottom: 1px solid #dbdbdb;">
                        <li class="nav-item  border-top-0 border-bottom-5 border-end-0 border-left-0">
                            <a class="nav-link active" href="#">About</a>
                        </li>
                        <li class="nav-item  border-top-0 border-bottom-5 border-end-0 border-left-0">
                            <a class="nav-link" href="#">Timeline</a>
                        </li>
                    </ul>*@

                    <ul class="nav nav-tabs" id="tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">About</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="timeline-tab" data-bs-toggle="tab" data-bs-target="#timeline" type="button" role="tab" aria-controls="timeline" aria-selected="false">Timeline</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="TabContent">
                        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">

                            <table class="table borderless pt-3">
                                
                                <tbody>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>@Model.leads.FullName</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>@Model.leads.Email</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phone</th>
                                        <td>@Model.leads.PrimaryPhone</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">246</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">.guygfu</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*@section Scripts{

    <script>$('.nav li').click(function () {

            $(this).toggleClass('active').siblings().removeClass('active');
        });</script>


}*@

<style>
    th, td {
        border-bottom-width: 0px!important;

    }
    .nav-tabs .nav-link {
        border: none;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #0B90FF !important;
        border: none;
        border-bottom: 1px solid #0B90FF !important;
    }

</style>

