@model Sohi.Web.ViewModels.Social.Facebook.PostsViewModel


@{
    Layout = "~/Views/Marketing/Social/Facebook/_Common.cshtml";
}

<div class="container-fluid m-0" style="max-width: 1000px;">
    @foreach (var post in Model.posts)
    {
        <div class="card mt-3">
            <div class="card-header">

                <div class="row">
                    <div class="col-md-1">
                        <img src="/images/img_avatar.png" height="50" width="50" class="rounded-circle" />
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-11" style="color:black; font-weight:600;">
                                Gurminder Singh
                            </div>
                            <div class="col-md-11" style="font-size: 13px;">
                                @*May 7, 2020 at 6:04 PM*@
                                @post.CreatedTime

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <p class="card-text">@post.Description</p>
                    </div>
                    <div class="col-md-3">
                        <img src="@post.Picture" height="200" width="200" class="img-fluid rounded mx-auto d-block" asp-append-version="true" />
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <span class="" dir="auto">0</span>
                                </div>
                                <div class="">
                                    <span class="" dir="auto">Likes</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <span class="" dir="auto">0</span>
                                </div>
                                <div class="">
                                    <span class="" dir="auto">People Reached</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <span class="" dir="auto">0</span>
                                </div>
                                <div class="">
                                    <span class="" dir="auto">Engagements</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <span class="" dir="auto">0</span>
                                </div>
                                <div class="">
                                    <span class="" dir="auto">Post Clicks</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    }
    </div>

<script>$(document).ready(function () {
    $("#posts").addClass("active");
    $("#facebook").addClass("active");
        $("#marketing").addClass("active");
    });

    $('.nav li').click(function () {
        $(this).toggleClass('active').siblings().removeClass('active');
    });</script>

