@{
    Layout = "Social";
}

<div class="container-fluid m-0" style="max-width: 1000px;">
    <div class="card">

        <div class="card-body">
            <blockquote class="blockquote">
                <p>
                    <div class="row">
                        <div class="col-md-1">
                            <img src="/images/img_avatar.png" height="50" width="50" class="rounded-circle" />
                        </div>
                        <div class="col-md-11  p-2" style="background-color:#f0f2f5;  border-radius: 25px; font-size: 1.0625rem; line-height:2; padding-left: 20px!important; color:#838589">
                            What's on your mind, Gurminder?
                        </div>
                    </div>
                </p>
            </blockquote>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            Post on April 9th
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col-md-3">
                    <img src="/images/img_avatar.png" height="200" width="200" class="img-fluid rounded mx-auto d-block" />
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-md-9 ">
                    <p class="align-items-middle" style="font-size: 14px;">This Post will be sent on April 9th at 9:30 AM (BST).</p>
                </div>
                <div class="col-md-3 end-0">

                    <a href="#" class="btn btn-danger btn-sm" tabindex="-1" role="button" aria-disabled="true">Delete</a>
                    <a href="#" class="btn btn-warning btn-sm" tabindex="-1" role="button" aria-disabled="true">Edit</a>
                    <a href="#" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Share Now</a>

                    @*<button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-primary">Share Now</button>*@
                </div>
            </div>
            @*<table style="">
                <tbody>
                    <tr>
                        <td class="align-middle col-md-8s">
                            This Post will be sent on April 9th at 9:30 AM (BST).
                        </td>
                        <td class="align-middle col-md-4 me-auto">
                            <button type="button" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-warning">Edit</button>
                            <button type="button" class="btn btn-primary">Share Now</button>
                        </td>
                        
                    </tr>
                </tbody>
            </table>*@
        </div>
    </div>

</div>



<script>
    $(document).ready(function () {
        $("#queue").addClass("active");
        $("#marketing").addClass("active");
    });
    $('.nav li').click(function () {
        $(this).toggleClass('active').siblings().removeClass('active');
    });
</script>

