@page
@model Sohi.Websites.Pages.Websites.DC.ContactModel
@{
    ViewBag.Title = "DC - Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .font-weight-bold {
            font-weight: 600 !important;
            font-family: inherit;
        }
    </style>
</head>
<body>

    <div class="container-fluid p-0 m-0">

        <header id="home">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
                <div class="container">
                    <a class="navbar-brand px-3" href="Home">DC</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigationbar" aria-controls="navigationbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigationbar" style="flex-grow: 0;">


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Features">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Pricing">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="About">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="Contact">Contact us</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav me-auto pl-5 mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="DC/Login">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="DC/Register">Register</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            <div class="p-5 bg-light" style="padding-top:200px!important;">
                <div class="container">
                    <h2 class="mb-3">Build your website with us</h2>
                    <h6 class="mb-3">Expertise in building website for organizations.</h6>
                    <a class="btn btn-primary" href="#contact" role="button">Get Started</a>
                </div>
            </div>
        </header>


        <div class="bg-white pt-2 pe-5 pb-5 ps-5" id="contact">
            <div class="container">

                <h2 class="h1-responsive text-center font-weight-bold my-5">Contact us for building your Project</h2>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="mb-3">
                                <label for="Name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="Name" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description</label>
                                <textarea type="text" cols="6" class="form-control" id="Description"></textarea>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>

     
        <!-- Footer -->
        <footer class="bg-light text-lg-start">
            <div class="container p-4">
                <div class="row">

                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                        <h2>DC Projects</h2>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">About us</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-dark">About us</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Contact</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Company</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Jobs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">Social</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-dark">Facebook</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Instagram</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Twitter</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">LinkedIn</a>
                            </li>
                        </ul>
                    </div>

                    @*<div class="col-lg-2 col-md-6 mb-4 mb-md-0"></div>
                        <div class="col-lg-4 text-right col-md-12 mb-4 mb-md-0">
                            <h2 class="text">Subscribe</h2>

                            <span class="pt-4" style="font-size:0.8em">Subscribe to our newsletter to receive exclusive offers and the latest news</span>

                            <form class="text-left">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>*@

                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-dark" href="#">DC.com</a>
            </div>
        </footer>
    </div>


</body>



</html>