


@{ Layout = "Portal"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-md-12" style="flex-grow: 0;">
                    <ul class="nav nav-tabs" id="tabs" role="tablist">
                        <li class="nav-item" role="presentation" id="queue">
                            <a class="nav-link">Queue</a>
                        </li>
                        <li class="nav-item" role="presentation" id="posts">
                            <a class="nav-link">Posts</a>
                        </li>

                        <li class="btn-group ms-auto">
                            <button type="button" class="btn btn-light dropdown-toggle pb-0 ps-2 pe-2" style="font-family:Roboto, sans-serif; font-size:14px;" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/img_avatar.png" height="30" width="30" class="rounded-circle" /> Gurminder Singh
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end pt-0 pb-0">


                                <li class="btn-group w-100 border-bottom-1 me-auto pt-1 pb-1" style="border-bottom:1px solid #dee2e6;">
                                    <button type="button" class="btn btn-white pb-0 ps-2 pe-2" style="text-align:left; font-family:Roboto, sans-serif; font-size:14px;" data-bs-toggle="dropdown" aria-expanded="false">
                                        <table>
                                            <tr>
                                                <td class="pt-0">
                                                    <img src="/images/img_avatar.png" height="30" width="30" class="rounded-circle" />
                                                </td>
                                                <td>
                                                    <span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
        @RenderBody()
    </div>



    <style>
        .nav > li.active > a {
            color: #0B90FF !important;
            border: none;
            border-bottom: 1px solid #0B90FF !important;
            background: none;
        }

        .nav > li > a:hover {
            color: #0B90FF !important;
            border: none !important;
            border-bottom: 1px solid #0B90FF !important;
        }

        .active {
            border: none !important;
        }

        .nav-tabs .nav-link {
            margin-bottom: -1px;
            background: none;
            border: none !important;
            font-size: 14px;
        }
    </style>

</body>
</html>
