
<style>

    .list-group-item:active {
        color: #0B90FF !important;
        background: rgba(11,144,255,0.07) !important;
        border-left: 1px solid #0B90FF !important;
    }
    .list-group-item {
        color: rgba(9,19,44,0.7) !important;
    }
    
</style>

<div class="row text-center">
    <div class="col-md-12 p-3">
        Settings
    </div>
    <hr />
</div>
<div class="row mt-2">
    <div class="col-md-1"></div>
    <div class="col-sm-2 col-md-2" id="sidebar-wrapper">
        <div id="sidebar">
            <ul class="nav list-group" style="cursor:pointer;">
                <li>
                    <a class="list-group-item border-top-0 border-bottom-0 border-end-0 border-left-5"><i class="icon-home icon-1x"></i>General</a>
                </li>
                <li>
                    <a class="list-group-item border-top-0 border-bottom-0 border-end-0 border-left-5"><i class="icon-home icon-1x"></i>Create user</a>
                </li>
                <li>
                    <a class="list-group-item border-top-0 border-bottom-0 border-end-0 border-left-5"><i class="icon-home icon-1x"></i>Manage roles</a>
                </li>
                <li>
                    <a class="list-group-item border-top-0 border-bottom-0 border-end-0 border-left-5"><i class="icon-home icon-1x"></i>Email setup</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    $('.nav li').click(function () {
    $(this).toggleClass('active').siblings().removeClass('active');
    });

}


<style>
    .nav > li.active > a {
        color: #0B90FF;
        background: rgba(11,144,255,0.07);
        border-left: 1px solid #0B90FF;
    }
</style>