@{
    Layout = "Portal";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="container p-3" style="border-bottom: 1px solid #0B90FF !important;">
            <div class="row">
                <div class="col-md-5">
                    @*<label style="color: #323b43; font-size: 1.5rem;">Publishing</label>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 28 28" class="o--icon--sm u--m__lr__sm qa--page__headerIcon"><path fill-rule="evenodd" d="M8.488 26.513c-.65-.65-.65-1.625 0-2.275L18.726 14 8.488 3.763c-.65-.65-.65-1.625 0-2.275.65-.65 1.625-.65 2.275 0l11.375 11.375c.65.65.65 1.625 0 2.275L10.763 26.513A1.755 1.755 0 019.626 27c-.325 0-.813-.162-1.138-.487z"></path></svg>*@

                    <label style="color: #323b43; font-size: 1.5rem;">Instagram</label>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>



    <style>
        .nav > li.active > a {
            color: #0B90FF !important;
            border: none;
            border-bottom: 1px solid #0B90FF !important;
        }
    </style>

</body>
</html>
