
@{ Layout = "_Master"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>

        #sidebar {
            @*width: 100% !important;*@
        }

        @*#sidebar ul li a {
            font-size: 14px;
            display: block;
            color: #fff;
            font-family: Roboto, sans-serif;
            padding-left: 20px;
        }

            #sidebar ul li a:hover {
                cursor:pointer;
                color: #fff;
                background: #fff;
                text-decoration: none;
            }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            background-color: black!important;
        }*@

        .sm {
            text-align: left;
            color: #09132C !important;
            border-bottom: 1px solid #dee2e6 !important;
        }

        .sml:hover {

            @*border-bottom: 1px solid black !important; padding:0;*@
        }


        .sm:hover {
            color: #D9ECFF !important;
            border: none !important;
            border-bottom: none !important;
            background-color: #D9ECFF !important;
        }
        .sml.active {
            background-color: #D9ECFF !important;
        }


    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-1" style="min-width: 8.3%;">
            <div class="row pt-5 ps-0 position-fixed" style="background-color: #fff !important; min-width:8.3%;">
                <div class="col-md-12 pt-3 p-0">

                    <ul class="nav nav-tabs" id="tabs" role="tablist">
                        <li class="nav-item" role="presentation">

                            <p class="nav-link ps-3">Platforms</p>
                        </li>
                    </ul>
                    <ul class="nav flex-column pt-3" style="min-height: calc(100vh - 200px);">
                        <li class="nav-item sml" id="facebook">


                            <a class="nav-link active sm" aria-current="page" asp-controller="Facebook" asp-action="Queue">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <i class="icon icon-account icon-grey"></i>
                                <span class="ng-binding">Facebook</span>
                            </a>
                        </li>


                        <li class="nav-item sml" id="instagram">
                            <a class="nav-link sm" asp-controller="Instagram" asp-action="Queue" style="text-align: left;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                                <i class="icon icon-account icon-grey"></i>
                                <span class="ng-binding">Instagram</span>
                            </a>
                        </li>


                    </ul>

                </div>


            </div>
        </div>


        <div class="col-md-11">
            <div class="container-fluid pt-0">
                <div class="container-fluid pt-0 ps-0">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>

        </div>
    </div>



    <style>
        .nav > li.active > a {
            color: #0B90FF !important;
            border: none;
            border-bottom: 1px solid #0B90FF !important;
            background: none;
        }

        .nav > li > a:hover {
            color: #0B90FF !important;
            border: none !important;
            border-bottom: 1px solid #0B90FF !important;
        }

        .active {
            border: none !important;
        }

        .nav-tabs .nav-link {
            margin-bottom: -1px;
            background: none;
            border: none !important;
            font-size: 14px;
        }
    </style>

</body>
</html>


