
<div class="container-fluid h-100 bg-light text-dark ">

    <div class="row justify-content-center align-items-center h-75 ">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-2">

            <div class="text-center">
                <h1 class="text-danger">Access Denied</h1>
                <h6 class="text-danger">You do not have persmission to view this resource</h6>
                @*<img src="~/images/noaccess.png" style="height:300px; width:300px" />*@
                <i class="fa fa-ban" aria-hidden="true"></i>
            </div>

        </div>
    </div>
</div>