@model ChangePasswordViewModel

@{
    Layout = "Settings";
}

<h2>Change Password</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

</div>

@section Scripts{

<script>
    $('.nav li').click(function (ev) {
        
        $(this).toggleClass('active').siblings().removeClass('active');
    });
</script>


}

<style>
    .nav > li.active > a {
        color: #0B90FF;
        background: rgba(11,144,255,0.07);
        border-left: 1px solid #0B90FF;
    }
</style>