@{
    Layout = "_Layout";
    ViewBag.Title = "Reset Password";
}


<div class="container-fluid h-100 bg-light text-dark ">

    <div class="row justify-content-center align-items-center h-75 ">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-2">

            <h4>
                Your password is reset. Please click <a asp-action="Login">here to login</a>
            </h4>

        </div>
    </div>
</div>